*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
  font-family: 'Poppins', sans-serif;
  color: #333333;
}
.header{
  display: flex;
  justify-content: space-between;
}
img{
  max-width: 100%;
}
#navtoggle{
  display: none;
}
ul li a{
  text-decoration: none;
  color: #333333;
}
.navbutton{
  display: none;
}
nav ul{
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 120px;
  top: 50px;
}
nav ul li{
  margin-left: 30px;
}
nav ul li a:hover{
  font-size: 20px;
}
.header h2{
  position: relative;
  top: 3px;
}
.header h2,
.edie{
  font-size: 36px;
  line-height: 52px;
  font-family: 'Heebo', sans-serif;
}
.first-paragraph{
  color: #2D9CDB;
  font-size: 18px;
  line-height: 27px;
}
.about h2,
.about h1{
  font-size: 48px;
  line-height: 72px;
  width: 500px;
}
.about-img{
    border-radius: 12px;
    margin: 20px 0;
}
.about{
  margin-left: 200px;
}
.about-section2 p{
  font-size: 18px;
  line-height: 27px;
  color: #4f4f4f;
  width: 400px;
}
.contact p{
  color: #828282;
  line-height: 21px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.contact input{
  width: 40%;
  height: 50px;
  border-radius: 12px;
  border: 3px solid #333333;
}
.contact input::placeholder{
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
  padding-top: 20px;
}
.contact button{
  width: 60px;
  height: 40px;
  background-color: #2D9CDB;
  cursor: pointer;
  font-size: 18px;
  line-height: 27px;
  color: #f2f2f2;
  border-radius: 12px;
  margin-left: 10px;
}
.services h2{
  font-size: 36px;
  line-height: 54px;
  margin-left: 50px;
  width: 400px;
}
.service{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
}
.sub-service{
  border: 1px solid #4F4F4F; 
  border: none;
  border-radius: 24px;
}
.sub-service:hover{
  box-shadow: 0px 10px 30px 0px #333333;
}
.icon{
  width: 60px;
  height: 30px;
  border-radius: 3px;
  padding: 3px;
  color: #fff;
  margin: 15px;
}
.pen-icon{
  background-color: #2D9CDB;
}
.code-icon{
  background: #27AE60;
}
.bars-icon{
  background: #EB5757;
}
.one,
.two,
.three{
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-left: 15px;
}
.sub-service p:nth-child(2){
    color: #4F4F4F;
    font-size: 16px;
    line-height: 24px;
    width: 50px;
}
.service-detail{
  width: 90%;
  margin-left: 15px;
  margin-bottom: 70px;
}
div>h2{
  margin-top: 30px;
}
button{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #828282;
  width: 100px;
  height: 30px;
  margin-left: 15px;
}
.btn{
  background-color: #2D9CDB;
  color: #fff;
}
.project{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-top: 50px;
}
.project figure img{
  width: 100%;
}
.project2{
  position: relative;
  bottom: 30px;
}
.project3{
  position: relative;
  top: 30px;
}
.button{
  text-align: right;
}
.button a{
  font-size: 24px;
  line-height: 36px;
  color: #2D9CDB;
  text-decoration: none;
}
.team{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.team>div p:nth-child(1){
  color: #EB5757;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
.team>div h3{
  font-size: 36px;
  line-height: 54px;
  width: 280px;
}
.team>div p:nth-child(3){
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  width: 273px;
}
.team-members{
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 20px;
}
.team-members img{
  border-radius: 12px;
}
.image3{
  grid-column: 2/3;
}
.image1{
  position: relative;
  top: 100px;
}
.service,
.project,
.testimonial-section,
.team{
  margin-left: 30px;
  padding-top: 100px;
}
.testimonial-section >p{
  font-size: 36px;
  line-height: 54px;
}
.testimony{
  display: flex;
  justify-content: start;
  margin-bottom: 100px;
}
.testimony-image{
  width: 150px;
  height: 160px;
}
.testimony div p:nth-child(1){
  font-size: 24px;
  line-height: 36px;
  margin-top: 10px;
}
.testimony div p:nth-child(2){
  font-size: 18px;
  line-height: 18px;
  margin-top: 50px;
}
.testimony div{
  margin-left: 20px;
}
.footer{
  color: #f2f2f2;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
footer{
  background-color: #100e1d;
  padding-top: 50px;
}
.socials ul{
  display: flex;
}
.socials ul li,
.edie{
  padding-left: 10px;
}
.edie,
.footer-item{
  margin-top: 0;
}
.footer-links{
  margin-left: 50px;
}
.footer-links ul li a{
  color: #f2f2f2;
}
.footer-links ul li{
  margin-bottom: 10px;
}
p.contact-footer{
  color: #f2f2f2;
  margin-top: unset;
}
.attribution{
  color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 10px;
}
.attribution a{
  text-decoration: none;
  color: #f2f2f2;
}
.attribution a:hover{
  border-bottom: 3px solid #fff;
  font-size: 20px;
}
@media (max-width:700px) {
  .navbutton{
    font-size: 2.4em;
    line-height: 50px;
    cursor: pointer;
    display: block;
    position: relative;
    top: 35px;
  }
  nav{
    position: absolute;
    background-color:  #2D9CDB;
    top:70px;
    left:0;
    width: 100%;
  }
  nav ul li {
    padding: 0 15px;
    margin-left: unset;
  }
  nav ul li a {
    display: inline-block;
    padding: 12px;
    color: #DAE1E7;
    text-decoration: none;
    letter-spacing: 0.05em;
  }
  nav ul{
    max-height: 0;
    overflow: hidden;
    position: unset;
  }
  #navtoggle:checked ~ nav ul {
    display: unset;
    max-height: 400px;
    padding: 15px 0;
    transition: all 0.5s;
  }
  .about h2,
  .about h1{
  font-size: 40px;
  line-height: 42px;
  width: 400px;
  }
  .about{
    margin-left: 50px;
  }
  .contact input{
    width: 80%;
  }
  .service{
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    justify-content: center;
    margin-left: 20px;
  }
  .sub-service{
  width: 80%;
  }
  .project{
    grid-template-columns: 1fr;
  }
  .project2,
  .project3{
    position: unset;
  }
  .project,
  .testimonial-section,
  .team{
  margin-left: 20px;
  }
  .team{
    grid-template-columns: 1fr;
  }
  .footer{
    grid-template-columns: 1fr;
  }
  .footer-links,
  footer .contact{
  margin-left: 25px;
}
.footer-item{
  padding-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}
}
@media (min-width:900px) {
  nav ul{
    left: 200px;
  }
}