*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
body{
  font-family: 'Poppins', sans-serif;
  width: 100%;
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  margin: 0 15px;
  padding: 10px;
}
nav ul li a{
  text-decoration: none;
  color: #333;
  font-size: 28px;
  font-family: poppins;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  line-height: 70px;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.027);
  background-color: rgb(251, 253, 251);
  z-index: 100;
  width: 100%;
}
#navtoggle{
  display: none;
}
.navbutton{
  color: #000;
  font-size: 18px;
  cursor: pointer;
  display: none;
}
.about-img{
  border-radius: 12px;
  margin: 0px 0;
  width: 100%;
}
div.cover-img{
  margin: 15px 30px ;
}
header h2,
.edie{
  font-size: 36px;
  font-weight: 400;
  font-family: 'Heebo', sans-serif;
}
.about h1,
.about h2{
  width: 500px;
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
}
#first-paragraph{
  color: #2D9CDB;
  font-size: 18px;
  line-height: 27px;
  margin-top: 100px;
}
.about p{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 400px;
  color: #4f4f4f;
}
.contact p{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: #828282;
  margin-top: 20px;
}
.about{
  margin-left: 100px;
}
.input{
  display: flex;
  max-width: 500px;
}
.contact input::placeholder {
  font-size: 18px;
  color: #bdbdbd;
  padding-top: 0px;
}
input{
  width: 100%;
  height: 60px;
  background-color: rgb(225, 228, 228);
  border-radius: 12px 0px 0px 12px;
  border: 1px solid #cecece;
}
.contact button{
  background-color: #2d9cdb;
  cursor: pointer;
  font-size: 18px;
  color: #f2f2f2;
  border-radius: 0px 10px 10px 0px;
  right: 90px;
  padding: 0px;
  text-align: center;
  width: 90px;
  height: 60px;
  border: none;
  z-index: 0;
}
.services h2{
  font-size: 36px;
  margin-left: 50px;
  line-height: 54px;
  width: 400px;
}
.services{
  padding-top: 40px;
}
.service{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.one,
.two,
.three{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 15px;
}
.service-detail{
  padding: 10px 0;
  line-height: 40px;
}
.sub-service {
  border: 1px solid #4f4f4f;
  border: none;
  border-radius: 24px;
  padding: 40px;
  height: 500px;
}
.sub-service:hover {
  box-shadow: 1px 1px 10px 8px #42424211;
}
.sub-service:active {
  box-shadow: 1px 1px 10px 8px #5301684b;
}
.sub-service button{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E0E0E0;
  border-radius: 12px;
  border: none;
}
#btn{
  background-color: #2D9CDB;
  color: #fff;
}
.icons{
  width: 60px;
  height: 60px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  color: #fff;
  font-size: 20px;
}
.pen{
  background-color: #2D9CDB;
}
.code{
  background: #27AE60;
}
.bars{
  background: #EB5757;
}
figure img{
  width: 100%;
  border-radius: 18px;
}
figcaption{
font-size: 14px;
font-weight: 300;
line-height: 21px;
}
.desc{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.project{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding:  0 50px 100px;
}
.project2{
  position: relative;
  bottom: 50px;
}
.project3{
  position: relative;
  top: 50px;
}
.button{
  text-align: right;
  padding-right: 50px;
}
.button a:hover{
  border-bottom: 4px solid #2d9cdb;
}
.button a{
  font-size: 24px;
  line-height: 36px;
  color: #2D9CDB;
  text-decoration: none;
  cursor: pointer;
}
.team{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 80px 50px;
}
.team div h3{
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  width: 300px;
}
.team div p:nth-child(1){
  color: #EB5757;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.paragraph{
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  width: 250px;
}
.team-members{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-gap: 10px;
}
.image3{
  grid-column: 2/3;
}
.image1{
  position: relative;
  top: 100px;
}
.team-members img{
  border-radius: 24px;
  width: 200px;
}
.testimonial-section p{
  font-weight: 400;
  font-size: 36px;
}
.testimonial-section{
  padding: 50px;
}
.testimony{
  display: flex;
  padding: 50px 0;
  
}
.testimony p:nth-child(1){
  font-size: 24px;
  margin-left: 30px;
  margin-top: 70px;
  font-weight: 500;
}
.testimony p:nth-child(2){
  font-size: 18px;
  color: #828282;
  margin-left: 30px;
  margin-top: 20px;
  font-weight: 500;
}
.testimony img{
  width: 200px;
  border-radius: 24px;
}
footer{
  background: #100E1D;
}
footer ul li a{
  text-decoration: none;
  color: #fff;
}
.footer{
  color: #f2f2f2;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
footer{
  background-color: #100e1d;
  padding-top: 50px;
}
footer ul{
  list-style: none;
}
.socials ul{
  display: flex;
}
.socials ul li,
.edie{
  padding-left: 10px;
}
.edie,
.footer-item{
  margin-top: 0;
}
.footer-links{
  margin-left: 50px;
}
.footer-links ul li a{
  color: #f2f2f2;
}
.footer-links ul li{
  margin-bottom: 10px;
}
p.contact-footer{
  color: #f2f2f2;
  margin-top: unset;
}
.attribution{
  color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 10px;
}
.attribution a{
  text-decoration: none;
  color: #f2f2f2;
}
.attribution a:hover{
  border-bottom: 3px solid #fff;
  font-size: 20px;
}
@media (max-width:768px) {
  nav ul{
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #000;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
  }
  nav ul li{
    padding: 10px;
  }
  .navbutton{
    display: block;
    position: relative;
    left: 100px;
    font-size: 20px;
  }
  nav ul li a{
    color: #fff;
    font-size: 18px;
  }
  #navtoggle:checked ~ nav ul{
    max-height: 100vh;
  }
  .about{
    margin-left: 50px;
  }
  .about-img{
    height: 200px;
  }
  .about h1,
  .about h2{
    width: 300px;
    font-size: 36px;
  }
  .about p{
    width: 300px;
  }
  .about{
    margin-left: 50px;
  }
  .services h2{
    width: 250px;
  }
  .input{
    max-width: 300px;
  }
  .service{
    flex-direction: column;
  }
  .sub-service{
    height: unset;
  }
  .project{
    grid-template-columns: 1fr;
    padding:  0 50px 50px;
  }
  .project2,
  .project3{
    position: unset;
  }
  .testimonial-section p{
    font-size: 24px;
    line-height: 40px;
  }
  .button{
    text-align: left;
    padding-left: 50px;
  }
  .team{
    grid-template-columns: 1fr;
  }
  .footer{
    grid-template-columns: 1fr;
    width: 100%;
  }
  .footer-links,
  footer .contact{
  margin-left: 25px;
  }
  .footer-item{
  padding-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
  }
}